{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="project">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="author" content="vinayak sharma">

  <title>{{title}}</title>


  <!-- bootstrap file -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- bootstrap file-->
  {% block extra_css %}{% endblock extra_css %}
  <!-- jQuery -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <!-- main css -->
  <style>
    *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    </style>
  {% block extra_js %} {% endblock extra_js %}
</head>

<body class="container-fluid">


  <header class="row">

    <!-- navbar-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" class="styleheader" href="{% url 'users:index' %}">TO DO Web App</a>
        </div>
        <div class="collapse navbar-collapse" id="mainNavBar">
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'users:logout' %}"><span class="glyphicon glyphicon-log-out"></span> &nbsp; Logout</a></li>
            {% else %}
            <li><a href="{% url 'users:register' %}"><span class="glyphicon glyphicon-user"></span> &nbsp; Sign up</a></li>
            <li><a href="{% url 'users:login' %}"><span class="glyphicon glyphicon-log-in"></span> &nbsp; Log in</a></li>
            {% endif %}

          </ul>
        </div>
      </div>
    </nav>
  </header>

  <br/>
  <br>
  <br>
  <div class="row container-fluid">
    <!-- message here -->
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'success' %}success{% else %}danger{% endif %}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    {% block start %}
    {% if user.is_authenticated %}
    <div class="text-center"><h1>welcome back {{user.username}}!</h1></div>
    {% else %}
    <div class="text-center"><h1>You have to login first to your account to add TODO.</h1></div>
    {% endif %}
    {% endblock %}

    {% block content %}
    {% endblock %}
  </div>
</body>

</html>